.hero{
    height: 55vh;
    min-height: 400px;
    background-color: #323232;
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    z-index: 1;
}

.hero-container{
    height: 100%;
    padding: 0px;
    font-size: 32px;
}


