.hero{
    height: 55vh;
    background-color: #323232;
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    z-index: 1;
}

.hero-container{
    height: 100%;
    padding: 5px;
    font-size: 32px;
}


.hero-card-container{
    text-align: center;
    padding: 50px 0px;
}
.hero-card h1{
    font-size:82px;
}
.hero-card p{
    font-size: 42px;
}

@media(max-width:992px){
    .hero-card h1{
        font-size:72px;
    }
    .hero-card p{
        font-size: 32px;
    }
}
@media(max-width:768px){
    .hero-card h1{
        font-size:42px;
    }
    .hero-card p{
        font-size: 22px;
    }
}
@media(max-width:576px){
    .hero-card h1{
        font-size:32px;
    }
    .hero-card p{
        font-size: 18px;
    }
}