.nav-wrapper{
  height:10vh;
  color: #323232;
  border-bottom: 1px solid #fff;
}
.nav-container{
  height:100%;
  margin: 0;
  
}

.nav-logo{
  padding:0;
  margin: 0;
  align-items: center;
}
.nav-logo h1{
  font-size: 48px;
  color: #323232;
  margin: 0;
}
.nav-logo img{
  height: 10vh;
}
.nav-menu{
  text-transform: uppercase;
  align-items: center;
}
.nav-menu-container{
  margin-left: auto; 
  
}
.nav-menu a{

  font-size: 38px;
  color: #323232;
  padding: 1rem 25px;
  
}
.nav-menu a:hover{
  color: #F95951;
  transition: 0.1s ease-out;
  text-decoration: none;
}
.nav-menu a:focus{
  color: #F95951;
  transition: 0.1s ease-out;
  text-decoration: none;
}

.nav-menu button{
  display: none;
  margin: 15px 0px;
  
    
  }

/* MOBILE BARS */
.mobile-bars{
  display: none;
  width:70px;
  
  float: right;
  align-items: center;
}
.mobile-bars div{
  height: 4px;
  background: #292929;
  width:100%;
  margin-top: 6px; 
  margin-bottom: 6px;
  transition: all .2s ease-in;
}
.mobile-bars div:nth-child(1){
  
}
.mobile-bars div:nth-child(2){
  width: 80%;
}
.mobile-bars div:nth-child(3){
  width:60%;
  margin-bottom: 0px;
}

.mobile-bars:hover  > div{
  width:100%;
}

/* MEDIA QUERRY FOR MOBILE */



@media (max-width:1500px) {
  .nav-menu a{
    font-size: 28px;
    padding: 0px 10px;
    
  }
}
@media (max-width:1200px) {
  .nav-logo h1{
    font-size:52px;
  }
  .nav-menu a{
    font-size: 20px;
    padding: 0px 10px;
    
  }
}
@media(max-width:882px){
  .nav-menu a{
    font-size: 16px;
  }
}

@media(max-width:768px){
  .nav-logo{
    max-width: none;
    flex:0 0 100%;
  }
   .nav-logo h1{
     font-size:2rem;
   }
   
   .nav-menu{
     position: fixed;
     display: none;
     z-index: 2;
     height: 90vh;
     margin-top: 0vh;
     background: #323232;
     text-align: center;
   }
   .nav-menu a{
     width:100%;
     display: block;
     font-size: 24px;
     color: #fff;
     text-align: center;
     padding: 10px 0px;
     
     
   }
   .nav-menu button{
     display: block;
   }
 
 }
 
 @media(max-width:767px){
   .mobile-bars{
     display: block;
   }
 
 
 }
 
.vertical-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}