
.menu-mobile{
    text-transform: uppercase;
    align-items: center;

    position: fixed;
     display: block;
     z-index: 2;
     width:100vw;
     height: 100vh;
     margin-top: 0vh;
     background: #323232;
}
.menu-mobile-container{

}

.menu-mobile a{
    width:100%;
    display: block;
    font-size: 24px;
    color: #fff;
    padding: 1rem 25px;
    text-align: center;
    padding: 10px 0px;
}

.menu-mobile button{
    margin: 15px 15px;
    
}