.services{
  
}

/*  SERVICE CARD  */

.service-cards{
  text-align: center;
  height: auto;
  padding: 20px 0px;
}

.service-card{
  min-height: 350px;
  padding: 20px 10px;
  
}
.service-card img{
  height:12.5vh;
}
.service-card h1{
  color:#F95951;
  font-size: 34px;
  margin: 10px 0px; 
}
.service-card p{
  font-size: 16px;
}

.service-card-container{
  height: 100%;
  
  outline: 2px solid #f1f1f1;
}
.service-card-content{
  padding: 10px 25px;
}

@media(max-width:767px){
  .contents-container{
    padding: 10px 0px;
  }
  .service-card p{
    font-size: 18px;
  }
}