
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  p, h1,h2,h3{
    margin: 0;
  }
  
  .contents{
    padding: 75px 20px;
    min-height: 75vh;
  }
  .contents h1{
    font-size:48px;
  }

  .contents-container{
    padding: 20px;
  }
  .contents p{
    font-size: 20px;
    
  }
  .align-center{
    text-align: center;
  }

  @media(max-width:375px){
    .contents h1{
      font-size:42px;
    }
    .contents p{
      font-size: 16px;
    }
  }