body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  p, h1,h2,h3{
    margin: 0;
  }
  
  .contents{
    padding: 20px;
  }
  .contents h1{
    font-size:48px;
  }

  .contents-container{
    padding: 20px;
  }
  .contents-container p{
    font-size: 28px;
  }